fastapi==0.115.0
uvicorn[standard]==0.30.6
httpx==0.27.2
python-dotenv==1.0.1
pydantic==2.9.2
beautifulsoup4==4.12.3
kiteconnect==5.0.1
redis==5.0.0
numpy
pandas
yfinance
openai
apscheduler
python-jose[cryptography]
cryptography
boto3==1.34.34
warrant==0.6.1
PyJWT==2.9.0
email-validator==2.1.0
SQLAlchemy==2.0.36
alembic==1.13.3
psycopg2-binary==2.9.9
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
